.event-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #fcfcfc;
  background: linear-gradient(180deg, #5328C7, #3A09BF);
}

.event-list-title {
  padding: 4em 4em 0 4em;
  width: 20em;
}

.event-list-detail {
  padding: 0 4em 4em 4em;
  width: 20em;
  margin-left: 15px;
}

