.hero-container {
  display: flex;
  flex-direction: column;
  background: transparent;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.hero-title {
  padding: 4em 4em 0 4em;
  width: 20em;
}

.hero-detail {
  padding: 0 4em 4em 4em;
  width: 20em;
  margin-left: 15px;
}

h1 {
  margin: 5px;
}
